<li class="list_item block">
  <strong class="block">{{title}}</strong>
  <span class="units u2">
    <span class="unit">{{position}}</span>
    <span class="unit align_right">{{duration}}</span>
  </span>
</li>
