<h2 class="bold">Currently playing: &ldquo;{{name}}&ldquo;</h2>
<a href="#play" class="js-play_button">Play</a>
<a href="#pause" class="js-pause_button">Pause</a>
<a href="#stop" class="js-stop_button">Stop</a>
/
<a href="#previous" class="js-previous_button">Previous</a>
<a href="#next" class="js-next_button">Next</a>
<ul class="margin_top_1 b">
    {{#each songs}}
    {{> _song }}
    {{/each}}
</ul>
<label for="new_song_url">New song: </label><input type="text" id="new_song_url">
<button class="js-add-song" data-input="new_song_url">Add</button>
<span class="js-add-song-title"></span>
<span class="js-add-song-author"></span>
<span class="js-add-song-duration"></span> sek
