<div class="margin_top_3 margin_bottom_2">
    <a href="/remote-app.zip">Download spotify app</a> |
    <a href="spotify:app:remote:{{spotify_channel_id}}">Open spotify app to channel : {{spotify_channel_id}}</a>
</div>
