<!DOCTYPE html>
<html>
<head>
  <title>Allplay</title>

    <!--script src="http://www.youtube.com/apiplayer?enablejsapi=1&version=3" type="text/javascript"></script-->

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="max_width b margin_h_auto">
    <%= yield %>
  </div>

  <script>
    
  </script>
</body>
</html>
