<!DOCTYPE html>
<html>
<head>
  <title>Allplay</title>

    <script src="http://cdn.pubnub.com/pubnub-3.4.min.js"></script>

  <% if Rails.env.production? %>
     <script src="/static/application.js?v=0" type="text/javascript"></script>
     <link href="/static/application.css?v=0" media="all" rel="stylesheet" type="text/css" />
  <% else %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="max_width b margin_h_auto">
    <%= yield %>
  </div>

  <script>
    
  </script>
</body>
</html>
