<!DOCTYPE html>
<html>
<head>
  <title>Allplay</title>
  <% if Rails.env.production? %>
     <link href="/static/application.css?v=1" media="all" rel="stylesheet" type="text/css" />
  <% else %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="max_width margin_h_auto margin_v_4">
    <%= yield %>
  </div>

  <script src="http://cdn.pubnub.com/pubnub-3.4.min.js"></script>
  <% if Rails.env.production? %>
     <script src="/static/application.js?v=1" type="text/javascript"></script>
   <% else %>
    <%= javascript_include_tag "application" %>
  <% end %>
</body>
</html>
